@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #131417;
  --tertiary-color: #ffaa17;
  --quaternary-color: #222429;
  --light-gray: #cdcecf;
  --dark-gray: #343a40;
}

body {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 1.1rem;
}

.header {
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Adjust spacing for hamburger positioning */
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  transition: all 0.3s ease;
}

li {
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffaa17;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.emailus {
  display: flex;
  gap: 10px;
  align-items: center;
}

.emailus > span > img {
  width: 30px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: auto; /* Align hamburger to the end */
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links-box ul {
    position: absolute;
    top: 100%;
    left: -100%;
    flex-direction: column;
    background-color: #222;
    width: 100%;
    gap: 0;
    transition: left 0.3s ease;
  }

  .nav-links-box ul.open {
    left: 0;
  }

  .nav-links-box li {
    width: 100%;
    text-align: center;
  }

  .nav-links-box li a {
    padding: 15px 20px;
    width: 100%;
  }

  /* Hide the .emailus container */
  .emailus {
    display: none;
  }

  /* Update li:hover style */
  .nav-links-box li:hover {
    color: var(--tertiary-color);
  }

  .hamburger {
    display: flex;
  }
}

/****************************/
/* HOME */
/****************************/

.home-container {
  background-image: url("../src/Assets/background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
}

.hero-text {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30%;
  left: 20%;
  line-height: 1;
}

.hero-text h1 {
  font-size: clamp(2rem, 6vw, 6rem);
  margin-bottom: 1rem;
  z-index: 2000;
}

button {
  width: 200px;
  height: 70px;
  border-radius: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #ffaa17;
  transition: background-color 0.4s ease;
}

button::before {
  content: "";
  width: 0;
  height: 70px;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #343a40 0%, #131417 100%);
  transform: skewX(-22deg);
  transition: 0.4s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 200px;
  color: #fff;
}

button:hover {
  color: #fff;
  opacity: 1;
  right: 0;
  transform: skewX(0deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Update hero-text styles */
  .hero-text h1 {
    font-size: 10vw;
  }
}

.number-counts {
  display: flex;
  gap: 20px; /* Space between the number counters */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller devices */
}

.number-count {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-right: 1px solid rgba(245, 222, 179, 0.2);
}

.number-count h1 {
  margin: 0;
  font-size: 4rem; /* Adjust as needed */
}

.number-count p {
  margin: 0;
  font-size: 1.5rem; /* Adjust as needed */
}

/* Media query for small devices */
@media (max-width: 768px) {
  .number-counts {
    flex-direction: column; /* Stack number counters vertically */
    gap: 10px; /* Reduce gap between items */
  }

  .number-count {
    padding: 2rem;
    border-right: none; /* Remove the right border on smaller screens */
    border-bottom: 1px solid rgba(245, 222, 179, 0.2); /* Add a bottom border instead */
  }

  .number-count h1 {
    font-size: 2.5rem; /* Decrease font size for smaller screens */
  }

  .number-count p {
    font-size: 1.2rem; /* Decrease font size for smaller screens */
  }
}

/* Media query for very small devices */
@media (max-width: 480px) {
  .number-count {
    padding: 1.5rem; /* Reduce padding for very small devices */
  }

  .number-count h1 {
    font-size: 2rem; /* Further decrease font size */
  }

  .number-count p {
    font-size: 1rem; /* Further decrease font size */
  }
}

.services {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  padding: 4rem 0;
}

.services-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(59, 54, 47, 0.247);
  padding: 3rem 0.5rem;
}

.services-text h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  transform: scaleY(1.5) scaleX(1.2); /* Vertically stretches the text */
  display: inline-block;
  font-weight: 500;
}

.services-text p {
  font-size: 1.5rem;
  transform: scaleY(0.8) scaleX(1.2); /* Vertically stretches the text */
  display: inline-block;
  font-weight: 300;
}

.services-cards {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  gap: 30px; /* Increased spacing between cards */
  justify-content: center; /* Centers cards horizontally */
  padding: 30px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px; /* Increased maximum width for each card */
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px; /* Adds padding inside the card */
}

.card img {
  width: 5rem;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px; /* Adds spacing below the image */
}

.card h2 {
  font-size: 22px; /* Increased font size for the title */
  margin: 15px 0;
}

.card p {
  font-size: 16px; /* Increased font size for the paragraph */
  color: #555;
  padding: 0 10px 20px;
}

.card:hover {
  transform: translateY(
    -7px
  ); /* Adds a hover effect with more visible movement */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.33% - 60px); /* Adjusts spacing and size for larger screens */
  }
}

@media (max-width: 767px) {
  .card {
    flex: 1 1 calc(50% - 30px); /* Adjusts for medium screens */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; /* Stacks cards on small screens */
  }
}
