@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjNdG7kmE0gfaJ9pRtB.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0,
    U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjNdG7kmE0gfa19pRtB.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjNdG7kmE0gfaN9pQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #131417;
  --tertiary-color: #ffaa17;
  --quaternary-color: #222429;
  --light-gray: #cdcecf;
  --dark-gray: #343a40;
}

body {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6;
  letter-spacing: 1px;
}

/*********************************************************/
/* HEADER COMPONENT */
/*********************************************************/

.header {
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Adjust spacing for hamburger positioning */
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  transition: all 0.3s ease;
}

li {
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffaa17;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.emailus {
  display: flex;
  gap: 10px;
  align-items: center;
}

.emailus > span > img {
  width: 30px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}
.mailto {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fbfdff;
  display: none;
  flex-direction: column;
  gap: 0;
  width: 300px; /* Adjust width as needed */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.dropdown-menu li a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu.show {
  display: flex;
}

.dropdown-menu li a:hover {
  color: var(--tertiary-color);
}

.span-1 {
  font-weight: 500;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: auto; /* Align hamburger to the end */
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Design */
@media (max-width: 890px) {
  .nav-links-box ul {
    position: absolute;
    top: 100%;
    left: -100%;
    flex-direction: column;
    background-color: #222;
    width: 100%;
    gap: 0;
    transition: left 0.3s ease;
  }

  .nav-links-box ul.open {
    left: 0;
  }

  .nav-links-box li {
    width: 100%;
    text-align: center;
  }

  .nav-links-box li a {
    padding: 15px 20px;
    width: 100%;
  }

  /* Hide the .emailus container */
  .emailus {
    display: none;
  }

  /* Update li:hover style */
  .nav-links-box li:hover {
    color: var(--tertiary-color);
  }

  .dropdown-menu {
    position: relative; /* Adjusted for mobile */
    background-color: #222;
    width: 100%;
    border-radius: 0;
  }

  .dropdown-menu li a {
    color: #fff; /* Text color for mobile */
  }
  .hamburger {
    display: flex;
  }
}

/****************************/
/* HOME PAGE COMPONENT  */
/****************************/

.home-container {
  background-image: url("../src/Assets/background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  position: relative; /* Ensures that the .left-curve is positioned relative to this container */
}

.left-curve {
  position: absolute; /* Positions the image relative to .home-container */
  top: 0; /* Position from the top of the .home-container */
  left: 0; /* Position from the left of the .home-container */
  transform: translate(-100%, -100%); /* Starts off-screen, adjust as needed */
  z-index: 1; /* Make sure it's above other content but not too high */
}

.hero-text {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30%;
  left: 20%;
  line-height: 1;
}

.hero-text h1 {
  font-size: clamp(2rem, 6vw, 6rem);
  margin-bottom: 1rem;
  z-index: 2000;
}

.hero-button {
  width: 200px;
  height: 70px;
  border-radius: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #ffaa17;
  transition: background-color 0.4s ease;
}
.hero-button::before {
  content: "";
  width: 0;
  height: 70px;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #343a40 0%, #131417 100%);
  transform: skewX(-22deg);
  transition: 0.4s ease;
  display: block;
  z-index: -1;
}

.hero-button:hover::before {
  width: 200px;
  color: #fff;
}

.hero-button:hover {
  color: #fff;
  opacity: 1;
  right: 0;
  transform: skewX(0deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Update hero-text styles */
  .hero-text h1 {
    font-size: 10vw;
  }
}

/***************************************************/
/* NUMBER COUNTER COMPONENT */
/***************************************************/

.number-counts {
  display: flex;
  gap: 20px; /* Space between the number counters */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller devices */
}

.number-count {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-right: 1px solid rgba(245, 222, 179, 0.2);
}

.number-count:last-child {
  border-right: none; /* Remove the right border on the last item */
}

.number-count h1 {
  margin: 0;
  font-size: 4rem; /* Adjust as needed */
}

.number-count p {
  margin: 0;
  font-size: 1.5rem; /* Adjust as needed */
}

/* Media query for small devices */
@media (max-width: 768px) {
  .number-counts {
    flex-direction: column; /* Stack number counters vertically */
    gap: 10px; /* Reduce gap between items */
  }

  .number-count {
    padding: 2rem;
    border-right: none; /* Remove the right border on smaller screens */
    border-bottom: 1px solid rgba(245, 222, 179, 0.2); /* Add a bottom border instead */
  }

  .number-count h1 {
    font-size: 2.5rem; /* Decrease font size for smaller screens */
  }

  .number-count p {
    font-size: 1.2rem; /* Decrease font size for smaller screens */
  }
}

/* Media query for very small devices */
@media (max-width: 480px) {
  .number-count {
    padding: 1.5rem; /* Reduce padding for very small devices */
  }

  .number-count h1 {
    font-size: 2rem; /* Further decrease font size */
  }

  .number-count p {
    font-size: 1rem; /* Further decrease font size */
  }
}

/**************************************************************/
/* Service Section*/
/**************************************************************/

.services,
.our-projects {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  padding: 4rem 0;
}

.services-text,
.our-project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vw;
  border-bottom: 1px solid rgba(59, 54, 47, 0.247);
  padding: 3rem 0.5rem;
  text-align: center; /* Centers text on smaller screens */
}

.services-text h1,
.our-project-text h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  transform: scaleY(1.5) scaleX(1.2);
  display: inline-block;
  font-weight: 500;
}

.services-text p,
.our-project-text > ul {
  font-size: 1.5rem;
  transform: scaleY(0.8) scaleX(1.2);
  display: inline-block;
  font-weight: 300;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 50px;
}

.card img {
  width: 6rem;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 25px;
  margin: 15px 0;
}

.card p {
  font-size: 20px;
  color: #555;
  padding: 0 10px 20px;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive adjustments */
@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(33.33% - 60px); /* Three cards per row on larger screens */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services-text {
    flex-direction: column;
    gap: 20px;
  }

  .services-text p {
    font-size: 1.5rem;
  }

  .card {
    flex: 1 1 calc(50% - 30px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 767px) {
  .services-text {
    flex-direction: column;
    gap: 20px;
  }

  .services-text p {
    font-size: 1.2rem;
  }

  .card {
    flex: 1 1 calc(50% - 30px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .services-text {
    flex-direction: column;
    gap: 20px;
  }

  .services-text p {
    font-size: 1rem;
  }

  .card {
    flex: 1 1 100%; /* One card per row on extra-small screens */
  }
}

/**************************************************************/
/* Our Projects Section */
/**************************************************************/

.our-project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-overflow: hidden;
  gap: 20px;
  border-bottom: 1px solid rgba(59, 54, 47, 0.247);
  padding: 3rem 0.5rem;
}

.our-project-text ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

.our-project-text ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffaa17;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.our-project-text ul li:hover::after {
  width: 100%;
}

.our-projects-gallery {
  display: flex;
  flex-wrap: wrap; /* Allows images to wrap to the next line */
  gap: 30px; /* Increased spacing between images */
  justify-content: center; /* Centers images horizontally */
  padding: 30px;
  width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .our-project-text {
    flex-direction: column; /* Stacks text vertically */
    gap: 20px; /* Reduces gap between items */
    font-size: 1rem;
  }

  .our-project-text ul {
    font-size: 1.5rem; /* Decreases font size for larger screens */
  }
}

@media (max-width: 767px) {
  .our-project-text {
    flex-direction: column; /* Stacks text vertically */
    gap: 20px; /* Reduces gap between items */
    font-size: 1rem;
  }

  .our-project-text ul {
    font-size: 1.2rem; /* Decreases font size for larger screens */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .our-project-text {
    flex-direction: column; /* Stacks text vertically */
    gap: 20px; /* Reduces gap between items */
  }

  .our-project-text ul li {
    font-size: 1.2rem; /* Decreases font size for larger screens */
  }
}
.slider-image {
  width: 100%;
  height: auto;
  margin: 10px 0;
  transition: transform 0.3s ease;
  transform: scale(1);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slider-image:hover {
  transform: scale(1.05);
}

.project-link a {
  text-decoration: none;
  color: var(--quaternary-color);
  opacity: 0.9;
  font-weight: 300;
}

.project-links a li {
  list-style: none;
  color: var(--quaternary-color);
  font-weight: 300;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.slider-item {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .slider-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/****************************************************************/
/*TESTIMONIAL COMPONENT */
/****************************************************************/
.testimonial-card-box {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  padding: 5rem 3rem 10rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.testimonial-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 20px;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.testimonial-author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #f0f0f0;
}

.testimonial-author h3 {
  font-size: 18px;
  color: #222222;
  margin: 0;
}

.testimonial-author p {
  font-size: 14px;
  color: #666666;
  margin: 5px 0 0 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .testimonial-card {
    max-width: 90%; /* Make card width responsive on medium screens */
    padding: 15px; /* Reduce padding */
  }

  .testimonial-text p {
    font-size: 15px; /* Adjust font size */
  }

  .testimonial-author img {
    width: 70px; /* Smaller image on medium screens */
    height: 70px;
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    max-width: 95%; /* Full width on smaller screens */
    padding: 10px; /* Further reduce padding */
  }

  .testimonial-text p {
    font-size: 14px; /* Smaller font for mobile */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  .testimonial-author h3 {
    font-size: 16px; /* Adjust font size for mobile */
  }

  .testimonial-author p {
    font-size: 13px; /* Smaller font for position text on mobile */
  }

  .testimonial-author img {
    width: 60px; /* Smaller image size on mobile */
    height: 60px;
  }
}

/****************************************************************/
/* Content Section*/
/****************************************************************/

.content-section {
  background-color: var(--secondary-color);
  padding: 4em 2em; /* Adjusted padding for smaller screens */
}

.content-box {
  display: flex;
  align-items: center;
  flex-direction: column; /* Stack content vertically on smaller screens */
  text-align: center; /* Center-align text on smaller screens */
}

.content-box h1 {
  font-size: 2rem; /* Adjusted font size for smaller screens */
  text-wrap: wrap;
  text-overflow: hidden;
  transform: scaleY(1.2) scaleX(0.9); /* Adjust scaling for better readability */
}

.content-cards {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  gap: 20px; /* Adjusted spacing between cards for smaller screens */
  align-items: center;
  justify-content: center; /* Center the cards on smaller screens */
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Adjusted padding for smaller screens */
  border-right: none; /* Remove border on smaller screens */
  gap: 20px; /* Adjusted spacing between elements inside the card */
  flex: 1 1 calc(50% - 20px); /* Make cards take half the width minus the gap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better appearance */
}

.content-card img {
  width: 80px; /* Adjusted image size for smaller screens */
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 15px; /* Adjusted margin for smaller screens */
}

.content-card h2 {
  font-size: 1.2rem; /* Adjusted font size for smaller screens */
  margin-bottom: 8px; /* Adjusted margin for smaller screens */
  font-weight: 400;
  text-transform: uppercase;
}

/* Media Queries for Responsiveness */
@media screen and (min-width: 768px) {
  .content-section {
    padding: 6em 5em;
  }

  .content-box {
    flex-direction: row;
    text-align: left;
  }

  .content-box h1 {
    font-size: 3rem;
  }

  .content-cards {
    justify-content: start;
  }

  .content-card {
    padding: 3rem;
    flex: 1 1 calc(33.333% - 30px); /* Make cards take a third of the width minus the gap */
  }

  .content-card img {
    width: 100px;
  }

  .content-card h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .content-section {
    padding: 6em 10em;
  }
  .content-card {
    flex: 1 1 calc(25% - 30px); /* Make cards take a quarter of the width minus the gap */
    justify-content: center;
  }
}

/****************************************************************/
/* Our Principles section */
/****************************************************************/
.globe,
.arrow {
  width: 100%;
  max-width: 15em;
  height: auto; /* Maintain aspect ratio */
}

.our-principle-section {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  padding: 4em 2em; /* Adjust padding for smaller screens */
  display: flex;
  flex-direction: row; /* Default to column layout */
  align-items: center; /* Center-align items */
  justify-content: space-around;
  gap: 20px;
  word-wrap: break-word; /* Ensure long words break and wrap */
  overflow: hidden;
}

.our-principle-text-box,
.aim-box {
  flex: 1 1 auto; /* Allow items to grow and shrink */
  text-align: center; /* Center-align text for smaller screens */
  max-width: 600px; /* Limit width to improve readability */
  overflow: hidden;
}

.principle-text {
  text-align: center; /* Center-align text */
  padding: 20px;
  word-wrap: break-word; /* Ensure long words break and wrap */
}

.principle-text h1,
.aim-text-box h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  transform: scaleY(1.5) scaleX(1.2);
  font-weight: 500;
  margin: 0;
}

.principle-text p,
.aim-text-box p {
  font-size: 1.5rem;
  transform: scaleY(1) scaleX(1.1);
  font-weight: 300;
  margin: 0;
  word-wrap: break-word; /* Ensure text wraps properly */
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .our-principle-section {
    flex-direction: column; /* Stack elements vertically */
    padding: 2em 1em; /* Reduce padding */
  }

  .globe,
  .arrow {
    max-width: 10em; /* Reduce image size for smaller screens */
  }

  .principle-text h1,
  .aim-text-box h1 {
    font-size: 2rem; /* Smaller font size */
  }

  .principle-text p,
  .aim-text-box p {
    font-size: 1.2rem; /* Smaller font size */
  }
}

@media screen and (max-width: 480px) {
  .globe,
  .arrow {
    max-width: 8em; /* Further reduce image size for extra small screens */
  }

  .principle-text h1,
  .aim-text-box h1 {
    font-size: 1.8rem;
  }

  .principle-text p,
  .aim-text-box p {
    font-size: 1rem;
  }
}

/********************************************************************/
/* mid banner section */
/*******************************************************************/

.mid-banner-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.banner-box-1,
.banner-box-2 {
  position: relative; /* Allows the pseudo-element to be positioned correctly */
  padding: 5em;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hides any overflow from the pseudo-element */
}

.banner-box-1::before,
.banner-box-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Sits behind the content */
}

/* Specific styling for the first banner box */
.banner-box-1::before {
  background-color: var(--dark-gray);
  background-image: url("./Assets/HOME_body_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4; /* Semi-transparent effect */
}

/* Specific styling for the second banner box */
.banner-box-2::before {
  background-color: rgba(255, 170, 23, 0.8);
  opacity: 0.9; /* Semi-transparent effect */
}

/* Ensures the inner text and button stay above the overlay */
.inner-text {
  position: relative;
  z-index: 2; /* Stays above the pseudo-element */
  text-align: center;
}

/* Common styling for headings in both banner boxes */
.banner-box-1 h3,
.banner-box-2 h3 {
  transform: scaleY(1.2) scaleX(1.1);
  transition: transform 0.3s ease-in-out;
  font-size: 2.5vw;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
}

/* Specific color for text in the first banner box */
.banner-box-1 h3 {
  color: var(--primary-color);
}

/* Specific color for text in the second banner box */
.banner-box-2 h3 {
  color: var(--secondary-color);
}

.discover-button-1,
.discover-button-2 {
  width: 200px;
  height: 70px;
  border-radius: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px auto;
}

.discover-button-1 {
  background-color: #ffaa17;
  transition: background-color 0.4s ease;
}

.discover-button-2 {
  background-color: var(--quaternary-color);
  transition: background-color 0.4s ease;
  color: var(--primary-color);
}

.discover-button-1::before,
.discover-button-2::before {
  content: "";
  width: 0;
  height: 70px;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-22deg);
  transition: 0.4s ease;
  display: block;
  z-index: -1;
}

.discover-button-1::before {
  background-image: linear-gradient(to left, #343a40 0%, #131417 100%);
}

.discover-button-2::before {
  background-image: linear-gradient(to right, #ffffff 0%, #fdfeff 100%);
}

.discover-button-1:hover::before {
  width: 200px;
  color: #fff;
}

.discover-button-2:hover::before {
  width: 200px;
  color: #000;
}

.discover-button-1:hover {
  color: #fff;
  opacity: 1;
  right: 0;
  transform: skewX(0deg);
}

.discover-button-2:hover {
  color: #000;
  opacity: 1;
  right: 0;
  transform: skewX(0deg);
}

@media screen and (max-width: 768px) {
  .banner-box-1 h3,
  .banner-box-2 h3 {
    font-size: 1.3em;
    letter-spacing: normal;
  }
  .mid-banner-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .discover-button-1,
  .discover-button-2 {
    width: 150px;
    height: 50px;
  }
}

/*************************************************************************/
/* FOOTER COMPONENT */
/*************************************************************************/
footer {
  width: 100%;
  color: #cacaca;
  background: var(--secondary-color) url(./Assets/footer-bg.png) center top
    no-repeat;
  opacity: 0.9; /* Adjust opacity for better readability */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  padding: 10em; /* Reduced padding for better alignment */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Added shadow for separation */
  z-index: 1000; /* Ensures it appears above other content */
}

.child-grid {
  justify-self: center;
}

.child-grid h3 {
  margin: 10px auto;
  color: #fff;
}

.child-grid h4 {
  color: var(--tertiary-color);
  opacity: 0.7;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    padding: 2em;
    text-align: justify; /* Center text for smaller screens */
    gap: 10px;
  }

  .child-grid {
    justify-self: auto;
    margin: 10px 0;
  }
}

.footer-links li {
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

.footer-links li a:hover {
  color: var(--tertiary-color);
  transition: all 0.4s ease;
}

/***************************************************************/
/* ABOUT US PAGE COMPONENT */
/***************************************************************/

.about-container {
  background-image: url("./Assets/about-2.jpeg");
}

.about-us-text-box,
.workflow-text-box {
  /* background-color: #cacaca; */
  background-image: url("./Assets/pattern-2.png");
  padding: 0.2rem 0;
  height: fit-content;
}

.about-text,
.workflow-text {
  padding: 4em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  text-align: center;
  margin: 6rem auto;
  transition: background-color 0.4s ease;
  background-color: #000;
  color: #fff;
  opacity: 0.9; /* Adjust opacity for better readability */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Added shadow for separation */
}

.about-text h2,
.workflow-text h2 {
  text-transform: uppercase;
  transform: scaleY(1.2) scaleX(1.3);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
  font-size: 3.5vw;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  line-height: 1;
}

.about-text p {
  color: #ffaa17;
  font-size: 1.8em;
  line-height: 1.8;
  margin: 0 auto;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease;
}

.about-us-text-box {
  background-image: url("./Assets/About_us-code.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-attachment: fixed; /* Creates the parallax effect */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: fit-content;
  position: relative; /* Allows for stacking content */
  z-index: 1; /* Adjusts stacking context */
}

.about-text {
  padding: 4em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  text-align: center;
  margin: auto;
  transition: all 0.4s ease;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better readability */
  color: #fff;

  position: relative; /* Position relative to stack above background */
  z-index: 2; /* Ensures text appears above background */
}

.about-text h2 {
  text-transform: uppercase;
  transform: scaleY(1.2) scaleX(1.3);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
  font-size: 3.5vw;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

.about-text p {
  color: #ffaa17;
  font-size: 1.8em;
  line-height: 1.8;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Added text shadow for readability */
}

@media only screen and (max-width: 599px) {
  .about-text h2 {
    font-size: 5vw;
    line-height: 1.1em;
  }
  .about-text p {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 767px) {
  .about-text h2 {
    font-size: 6vw;
  }
  .about-text p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 991px) {
  .about-text h2 {
    font-size: 6vw;
  }
  .about-text p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 1199px) {
  .about-text h2 {
    font-size: 6vw;
  }
  .about-text p {
    font-size: 1.3em;
  }
}

/****************************************************************/
/* AGENCY SECTION COMPONENT */
/****************************************************************/

.agency-section {
  position: relative;
  padding: 120px 0px 80px;
  background: #ffffff url(./Assets/pattern-2.png) left top repeat;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  color: #000;
  overflow: hidden; /* Prevents heading overflow */
}

.agency-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.agency-content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  text-align: justify;
  line-height: 1.2;
  word-break: break-word; /* Prevents overflow by breaking long words */
}

.agency-content nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.agency-content nav ul li button {
  background: #fff;
  border: 1px solid #ffaa17;
  color: #000;
  font-size: 1em;
  transition: background-color 0.4s ease, color 0.4s ease;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.agency-content nav ul li button:hover {
  background-color: var(--tertiary-color);
  color: #fff;
}

.agency-content nav ul li button.active {
  background-color: #ffaa17;
  color: #fff;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.left-agency-column,
.right-agency-column {
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.column p {
  font-size: clamp(1.3rem, 1.3em, 4vw);
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .agency-content h2 {
    font-size: 1.5em; /* Adjust heading size for smaller screens */
  }

  .agency-content nav ul {
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .agency-content nav ul li button {
    font-size: 0.9em; /* Smaller font size for smaller screens */
    padding: 8px 16px; /* Reduced padding for smaller screens */
  }

  .column {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .agency-content nav ul li button {
    font-size: 0.8em; /* Further reduced font size for very small screens */
    padding: 6px 12px; /* Further reduced padding for very small screens */
  }
}

/**********************************************************************/
/* WORKFLOW DYNAMIC PAGE COMPONENT */
/**********************************************************************/

.workflow-container {
  background-image: url("./Assets/workflow-3.jpeg");
}

.workflow-text {
  padding: 10vw 0;
  box-shadow: none;
}

.workflow-text h2 {
  transition: all 0.4s ease;
  /* font-size: 1.3rem; */
}

.workflow-text h2:hover {
  color: var(--tertiary-color);
}

.img-sec {
  width: 100%;
  height: 600px;
}

/* RESPONSIVE */
@media (max-width: 1024px) and (min-width: 768px) {
  .workflow-text {
    margin: 4rem auto;
  }
  .workflow-text h2 {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  .workflow-text {
    margin: 2rem auto;
  }

  .workflow-text h2 {
    font-size: 1.5rem;
  }
}

.img-sec {
  background-color: #fbfdff;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  justify-items: end;
  position: relative;
  background-image: url("./Assets/pattern-2.png");
}

.img-sec img {
  width: 460px;
  height: auto;
  border-radius: 15px;
}

.img-sec-2 {
  width: 500px;
  height: auto;
  color: #000;
  justify-self: center;
  border-radius: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding: 4rem;
  position: absolute;
  top: 6%;
  left: 45%;
}

.img-sec-2 h2 {
  text-transform: uppercase;
  transform: scaleY(1.2) scaleX(1.3);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
  font-size: 2em;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  line-height: 1;
  color: var(--tertiary-color);
  opacity: 0.5;
}

.img-sec-2 p {
  color: #000;
  font-size: 1.2em;
  line-height: 2;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-weight: 300;
}

@media (max-width: 768px) {
  .img-sec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .img-sec-1 img {
    width: 300px;
    max-height: 300px;
  }

  .img-sec-2 {
    position: static; /* Remove absolute positioning */
    width: 90%; /* Adjust width to fit the screen */
    margin: 0 auto; /* Center the element */
    max-height: 400px;
    padding: 1rem;
    margin: 1rem auto;
  }

  .img-sec-2 h2 {
    font-size: 1.8rem;
    transform: scaleY(1.1) scaleX(1);
    opacity: 1;
  }

  .img-sec-2 p {
    font-size: 1.2em;
    line-height: 1.2;
  }
}

.call-to-section {
  background: var(--secondary-color) url(./Assets/pattern-2.png) center top
    repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0; /* Added padding to ensure spacing */
}

/* Box Styling */
.call-to-box {
  background-color: var(--tertiary-color);
  width: 80%;
  max-width: 1200px; /* Ensures a maximum width for larger screens */
  padding: 60px 40px; /* Adjusted padding for consistency */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for separation */
  /* position: absolute;
  z-index: 1;
  top: 10%;
  transform: translateY(-80%); */
}

/* Heading Styling */
.call-to-box h1 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  transform: scaleY(1.3) scaleX(1.1);
  display: inline-block;
  font-weight: 500;
  line-height: 1.2; /* Adjusted for better spacing */
  word-wrap: break-word; /* Ensures long words break and wrap */
  margin: 0; /* Resets default margin */
}

/* Button Styling */
.call-us-button {
  width: 200px;
  height: 70px;
  border-radius: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px auto;
  background-color: var(--quaternary-color);
  transition: background-color 0.4s ease;
  color: var(--primary-color);
  cursor: pointer; /* Adds a pointer on hover */
}

.call-us-button::before {
  content: "";
  width: 0;
  height: 70px;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-22deg);
  transition: width 0.4s ease;
  display: block;
  z-index: -1;
  background-image: linear-gradient(to right, #ffffff 0%, #fdfeff 100%);
}

.call-us-button:hover::before {
  width: 200px; /* Expands the width on hover */
}

.call-us-button:hover {
  color: #000; /* Changes text color on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .call-to-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Adjusted padding for smaller screens */
    position: static;
  }

  .call-to-box h1 {
    font-size: 1.4rem;
    transform: scaleY(1.1) scaleX(1);
    text-align: center; /* Centers text on smaller screens */
  }

  .call-us-button {
    max-width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .call-to-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%; /* Adjusts width for larger screens */
  }

  .call-to-box h1 {
    font-size: 2rem; /* Larger font size for bigger screens */
  }
}
/**************************************************************/
/*  SERVICE PAGE COMPONENT */
/**************************************************************/

.services-container {
  background-image: url("./Assets/workflow-1.jpeg");
}

.service-section-container {
  background: url("./Assets/pattern-2.png");
  color: var(--secondary-color);
  display: flex;
  gap: 30px;
  padding: 5rem;
}

.service-info-box {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
}

.service-info-box ul li::before {
  content: "➔"; /* Arrow icon at the end */
  font-size: 12px;
  margin-right: 10px;
  color: #333;
  transition: color 0.2s ease;
}

.service-info-box li:hover {
  background-color: #f0f0f0;
  opacity: 1; /* Full opacity on hover */
}

.service-info-box h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--secondary-color);
  transform: scaleY(1.5) scaleX(1.2);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1;
}

.service-info-box p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1em;
  word-wrap: break-word;
  font-weight: 200;
  transition: all 0.4s ease;
}

.service-links-box {
  flex: 2;
  background: #f4f5f8;
  border-radius: 7px;
}

.service-links-box a {
  list-style: none;
  text-decoration: none;
  color: var(--secondary-color);
}

.service-links-box a:hover {
  color: var(--tertiary-color);
}

.service-links-box span,
.service-links-box a {
  margin-left: 1rem;
}

.service-links-box span {
  font-size: 1.4rem;
}

.service-info-box ul,
.service-links-box ul {
  list-style-type: disc;
  margin: 1rem;
}

.service-info-box ul li {
  font-size: 1.3rem;
}

.service-links-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px;
  text-align: left;
  max-height: 360px;
}

.service-links-box span {
  display: block;
  margin-bottom: 12px;
  color: #333;
}

.service-links-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.service-links-box li {
  margin-bottom: 8px;
  position: relative;
}

.service-links-box li a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  opacity: 0.7;
}

.service-links-box li a::after {
  content: "➔"; /* Arrow icon at the end */
  font-size: 12px;
  color: #333;
  transition: color 0.2s ease;
}

.service-links-box li a:hover,
.service-links-box li a.active {
  background-color: #f0f0f0;
  opacity: 1; /* Full opacity on hover */
}

.service-links-box li a:hover::after,
.service-links-box li a.active::after {
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .service-section-container {
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
  }

  .service-info-box h2 {
    font-size: 1.5rem;
    line-height: 1;
    flex-grow: 2;
    padding: 1rem;
  }

  .service-info-box {
    gap: 0.5rem;
  }
}

/*****************************************************************/
/* CONTACT US PAGE COMPONENT */
/*****************************************************************/

iframe {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.contact-section {
  background-image: url("./Assets/pattern-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 5rem;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
}
.form-container {
  padding: 20px;
  max-width: 500px;
  background-color: var(--light-gray);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #000;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

/* Button Styling */
.submit-button {
  width: 200px;
  height: 70px;
  border-radius: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px auto;
  background-color: var(--quaternary-color);
  transition: background-color 0.4s ease;
  color: var(--primary-color);
  cursor: pointer; /* Adds a pointer on hover */
}

.submit-button::before {
  content: "";
  width: 0;
  height: 70px;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-22deg);
  transition: width 0.4s ease;
  display: block;
  z-index: -1;
  background-image: linear-gradient(to right, #ffffff 0%, #fdfeff 100%);
}

.submit-button:hover::before {
  width: 200px; /* Expands the width on hover */
}

.submit-button:hover {
  color: #000; /* Changes text color on hover */
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  appearance: none; /* Removes default dropdown arrow for customization */
}

/* Dropdown arrow styling for better appearance */
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
    font-size: 14px;
  }

  .submit-button {
    padding: 10px;
    font-size: 16px;
  }

  .form-group select {
    padding: 8px;
    font-size: 14px;
  }
}

.sticky-contact-button {
  position: fixed; /* Sticks the element to a fixed position */
  right: 20px; /* Distance from the right side of the screen */
  bottom: 20px; /* Distance from the bottom of the screen */
  padding: 10px 20px;
  background-color: #ff6b6b; /* Button background color */
  color: white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.sticky-contact-button:hover {
  transform: translateY(-3px); /* Slight upward movement on hover */
  background-color: #ff3b3b; /* Darker shade on hover */
}

.scroll-to-top-button {
  position: fixed; /* Fixed position on the screen */
  right: 20px; /* Distance from the right edge */
  top: 20px; /* Distance from the top edge */
  padding: 10px;
  background-color: #ff6b6b; /* Background color */
  color: white;
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-size: 24px; /* Font size for the arrow */
  text-align: center;
  line-height: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Hidden by default */
  z-index: 1000; /* Ensure button is on top */
}

.scroll-to-top-button.show {
  opacity: 1; /* Visible when class is added */
  visibility: visible; /* Visible when class is added */
}

.scroll-to-top-button:hover {
  background-color: #ff3b3b; /* Darker shade on hover */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}
